In [1]:
import pandas as pd

In [17]:
colunas_df = ['NU_NOTIFIC', 'TP_NOT', 'ID_AGRAVO', 'CS_SUSPEIT','IN_AIDS', 'CS_MENING',
           'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA',
           'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 
           'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'ID_CNS_SUS', 'SG_UF', 'ID_MN_RESI', 
           'ID_RG_RESI', 'ID_DISTRIT', 'ID_BAIRRO', 'NM_BAIRRO', 'NU_CEP', 'NU_DDD_TEL', 
           'NU_TELEFON', 'CS_ZONA', 'ID_PAIS', 'NDUPLIC_N', 'IN_VINCULA', 'DT_INVEST', 
           'ID_OCUPA_N', 'CLASSI_FIN', 'CRITERIO', 'TPAUTOCTO', 'COUFINF', 'COPAISINF',
           'COMUNINF', 'CODISINF', 'CO_BAINFC', 'NOBAIINF', 'DOENCA_TRA', 'EVOLUCAO',
           'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA', 'DT_TRANSUS', 'DT_TRANSDM', 'DT_TRANSSM',
           'DT_TRANSRM', 'DT_TRANSRS', 'DT_TRANSSE', 'NU_LOTE_V', 'NU_LOTE_H', 'CS_FLXRET', 
           'FLXRECEBI', 'TPUNINOT']

colunas_painel = ['NU_NOTIFIC', 'ID_AGRAVO', 'NU_ANO', 'ID_REGIONA', 'ID_MUNICIP', 'ID_MN_RESI', 'CS_SEXO', 'CS_RACA']

anos = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

faixa_etaria = {
    '': '',
    '< 1H': ['001', '123'],
    '01-06D': ['200', '206'],
    '07-27D': ['207', '227'],
    '28D-<1': ['228', '311'],
    'Ign <1': ['400'],
    '< 7d': ['001', '206'],
    '07-27': ['207', '227'],
    '28d-<1': ['228', '311'],
    '< 01a': ['001', '400'],
    '01-04a': ['401', '404'],
    '05-14a': ['405', '414'],
    '15-49a': ['415', '449'],
    '50 e+': ['450', '599'],
    '15-24a': ['415', '424'],
    '25-34a': ['424', '434'],
    '35-44a': ['435', '444'],
    '45-54a': ['445', '454'],
    '55-64a': ['455', '464'],
    '65 e+': ['465', '599'],
    '05-09a': ['405', '409'],
    '10-14a': ['410', '414'],
    '15-19a': ['415', '419'],
    '20-29a': ['420', '429'],
    '30-39a': ['430', '439'],
    '40-49a': ['440', '449'],
    '50-59a': ['450', '459'],
    '60-69a': ['460', '469'],
    '70-79a': ['470', '479'],
    '80 e+': ['480', '599'],
}

id_agravos = {
    'A90': 'DENGUE',
    'A630': 'Verrugas anogenitais',
    'A60':'Herpes',
    'A53': 'Sifilis',
    'A539': 'Sifilis',
    'A010': 'FEBRE TIFOIDE',
    'A379': 'COQUELUCHE',
    'A959': 'FEBRE AMARELA',
    'A509': 'Sifilis congenita',
    'A309': 'HANSNENIASE',
    'A279': 'LEPTOSPIROSE',
    'A35': 'TETANO',
    'A369': 'DIFTERIA',
    'A809': 'PARALISIA FLACIDA AGUDA POLIOMIELITE',
    'A988': 'HANTAVIROSE',
    'A169': 'TUBERCULOSE',
    'A080': 'ROTAVIRUS',
    'A009': 'COLERA',
    'A928': 'Febres por arbovírus e febres hemorrágicas virais',
    'A33': 'TETANO RECEN NASCIDO',
    'A779': 'FEBRE MACULOSA - RICKETTSIOSES',
    'A719': 'TRACOMA',
    'A920': 'Chikungunya',
    'A051': 'BOTULISMO',
    'A810': 'DOENCA DE CREUTZFELDT-JACOB',
    'A692': 'Doenca de Lyme',
    'A938': 'Febres virais transmitidas por artropodes',
    'A23': 'BRUCELOSE',
    'A923': 'FEBRE DO NILO',
    'A829': 'RAIVA HUMANA',
    'A219': 'TULAREMIA',
    'A969': 'Febre hemorragica por arenavirus',    
    'A08': 'SINDROME DIARREICA AGUDA',
    'A209': 'PESTE',
    'A229': 'CARBUNCULO OU ANTRAZ',
    'B551': 'LEISHMANIOSE TEGUMENTAR AMERICANA',
    'B550': 'LEISHMANIOSE VISCERAL',
    'B24': 'Doença pelo vírus da imunodeficiência humana [HIV]',
    'B19': 'HEPATITES VIRAIS',
    'B09': 'DOENCAS EXANTEMATICAS',
    'B659': 'ESQUISTOSSOMOSE',
    'B571': 'DOENCA DE CHAGAS AGUDA',
    'B019': 'VARICELA',
    'B26': 'Caxumba',
    'B54': 'MALARIA',
    'B58': 'Toxoplasmose',
    'B01': 'Varicela',
    'B749': 'FILARIOSE NAO ESPECIFICADA',
    'B03': 'VARIOLA',
    'D593': 'Sindrome hemolitico-uremica',
    'D699': 'SINDROME DA FEBRE HEMORRAGICA AGUDA',
    'F99': 'Transtorno mental não especificado',
    'G039': 'MENINGITE',
    'G043': 'SINDROME NEUROLOGICA AGUDA',
    'H833': 'Doenças do ouvido interno',
    'J06': 'SINDROME GRIPAL',
    'J07': 'SINDROME RESPIRATORIA AGUDA',
    'J189': 'Influenza e pneumonia',
    'J11': 'INFLUENZA HUMANA POR NOVO SUBTIPO (PANDEMICO)',
    'J64': 'PNEUMONIA',
    'L989': 'Afeccoes da pele e do tecido subcutaneo',
    'N72': 'Doenca inflamatoria do colo do utero',
    'N485': 'Doenças dos órgãos genitais masculinos',
    'N199': 'SINDROME DA INSUFICIENCIA RENAL AGUDA',
    'O981': 'Complicacoes da gravidez',
    'O986': 'Doencas causadas por protozoarios complicando a gravidez, o parto e o puerperio',
    'P350': 'Sindrome da rubeola congenita',
    'P371': 'Toxoplasmose congenita',
    'R17': 'SINDROME ICTERICA AGUDA',
    'R36': 'Secrecao uretral',
    'R699': 'OUTRAS SINDROMES',
    'T659': 'INTOXICACAO EXOGENA',    
    'Y59': 'EVENTOS ADVERSOS POS-VACINACAO',
    'Y09': 'AGRESSAO',
    'Y96': 'Circunstancia relativa as condicoes de trabalho',
    'X29': 'Contato com animais e plantas venenosos',
    'W64': 'Exposição a forças mecânicas animadas',
    'Z209': 'Contato com exposicao a doencas transmissiveis nao especificadas',
    'Z206': 'Contato com e exposicao ao virus da imunodeficiencia humana [HIV]',
    'Z21': 'Estado de infeccao assintomatica pelo virus da imunodeficiencia humana [HIV]',
    'Z579': 'Exposicao ocupacional a fatores de risco',
}

In [3]:
regisao_saude = ['Tocantins'
                 'Carajás'
                 'Metropolitana II'
                 'Marajó I'
                 'Araguaia'
                 'Baixo Amazonas'
                 'Xingu'
                 'Marajó II'
                 'Metropolitana I'
                 'Rio Caetés'
                 'Metropolitana III'
                 'Tapajós'
                 'Lago de Tucuruí'
                 ]

In [34]:
raca = {
    '1': 'Branca',
    '2': 'Preta',
    '3': 'Amarela',
    '4': 'Parda',
    '5': 'Indígena',
    '9': 'Ignorado',
    'nan': 'Ignorado'
}

sexo = {
    'M': 'Masculino',
    'F': 'Feminino',
    'I': 'Ignorado'

}

NameError: name 'nan' is not defined

In [40]:
# Substitua 'seu_arquivo.xlsx' pelo caminho do seu arquivo .xlsx
arquivo_csv = 'NINDINET.csv'


df = pd.read_csv(arquivo_csv, usecols=colunas_painel, sep=';', low_memory=False, 
                dtype={'CS_RACA': str})

df.head()

,NU_NOTIFIC,ID_AGRAVO,NU_ANO,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_RACA,ID_MN_RESI
0,0002090,A90,2007,150304,1495.0,M,4,150304.0
1,0017314,A90,2007,150506,1494.0,F,9,150506.0
2,0077605,A90,2008,150330,1489.0,M,4,150330.0
3,0125768,A90,2008,150553,1494.0,F,4,150553.0
4,0048150,X29,2008,150310,1491.0,M,4,150450.0

In [51]:
df['NU_ANO'].unique()

array([2007, 2008, 2010, 2013, 2009, 2017, 2002, 2019, 2012, 2001, 2011,
       2006, 2004, 2003, 2005, 2000, 2016, 2014, 1983, 2015, 2018, 2020,
       1986], dtype=int64)

In [44]:
df['CS_RACA'].value_counts()

CS_RACA
4    766826
1    123250
2     65816
9     38887
3      8428
5      7362
Name: count, dtype: int64

In [45]:
# Tratamento dos dados
# Tratando a coluna ID_AGRAVO, substituindo os códigos pelos nomes dos agravos no dicionário id_agravos
df['ID_AGRAVO'] = df['ID_AGRAVO'].map(id_agravos)

# Tratando a coluna CS_SEXO, substituindo os códigos pelos nomes dos sexos no dicionário sexo
df['CS_SEXO'] = df['CS_SEXO'].map(sexo)

# Tratando a coluna CS_RACA, substituindo os códigos pelos nomes das raças no dicionário raca
# Transformando a coluna CS_RACA em inteiro
df['CS_RACA'] = df['CS_RACA'].map(raca)

df.head()

,NU_NOTIFIC,ID_AGRAVO,NU_ANO,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_RACA,ID_MN_RESI
0,0002090,DENGUE,2007,150304,1495.0,Masculino,Parda,150304.0
1,0017314,DENGUE,2007,150506,1494.0,Feminino,Ignorado,150506.0
2,0077605,DENGUE,2008,150330,1489.0,Masculino,Parda,150330.0
3,0125768,DENGUE,2008,150553,1494.0,Feminino,Parda,150553.0
4,0048150,Contato com animais e plantas venenosos,2008,150310,1491.0,Masculino,Parda,150450.0

In [48]:
df['CS_RACA'].fillna('Ignorado')
df['CS_RACA'].unique()

array(['Parda', 'Ignorado', 'Branca', 'Preta', 'Indígena', 'Amarela'],
      dtype=object)

In [49]:
df['CS_RACA'].value_counts()

CS_RACA
Parda       766826
Branca      123250
Ignorado     76893
Preta        65816
Amarela       8428
Indígena      7362
Name: count, dtype: int64

In [50]:
# Salvando o arquivo tratado
df.to_csv('painel.csv', index=False)