# Tratamento dos dados
*Objetivos*: 
- Tratar o arquivo NINDINET.DBF para que seja possível a análise dos dados.
- Gerar um arquivo painel.parquet que será consumido pelo Streamlit

In [1]:
import os
import pandas as pd
from dbfread import DBF
from filtros import agravo, ano, faixa_etaria, raca, sexo

In [2]:
colunas_df = ['NU_NOTIFIC', 'TP_NOT', 'ID_AGRAVO', 'CS_SUSPEIT','IN_AIDS', 'CS_MENING',
           'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA',
           'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 
           'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'ID_CNS_SUS', 'SG_UF', 'ID_MN_RESI', 
           'ID_RG_RESI', 'ID_DISTRIT', 'ID_BAIRRO', 'NM_BAIRRO', 'NU_CEP', 'NU_DDD_TEL', 
           'NU_TELEFON', 'CS_ZONA', 'ID_PAIS', 'NDUPLIC_N', 'IN_VINCULA', 'DT_INVEST', 
           'ID_OCUPA_N', 'CLASSI_FIN', 'CRITERIO', 'TPAUTOCTO', 'COUFINF', 'COPAISINF',
           'COMUNINF', 'CODISINF', 'CO_BAINFC', 'NOBAIINF', 'DOENCA_TRA', 'EVOLUCAO',
           'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA', 'DT_TRANSUS', 'DT_TRANSDM', 'DT_TRANSSM',
           'DT_TRANSRM', 'DT_TRANSRS', 'DT_TRANSSE', 'NU_LOTE_V', 'NU_LOTE_H', 'CS_FLXRET', 
           'FLXRECEBI', 'TPUNINOT']

colunas_painel = ['ID_AGRAVO', 'NU_ANO', 'ID_MN_RESI', 'CS_SEXO', 'CS_RACA', 'CS_ESCOL_N', 'DT_OBITO', 'NU_IDADE_N']

## Convertendo o arquivo .dbf
- Converter o arquivo .xls para .csv

In [3]:
# Converter de .dbf para .csv
# dbf = DBF('dbf/NINDINET.DBF')
# df = pd.DataFrame(iter(dbf))
# df.to_csv('NINDINET.csv', index=False)
# 
# df.head()

- CASO JÁ TENHA CRIADO O ARQUIVO .CSV, PODE EXECUTAR À PARTIR DAQUI
- Descomentar o código abaixo e comentar o código acima

In [4]:
# Carrega o .csv salvo
arquivo_csv = 'NINDINET.csv'

df = pd.read_csv(arquivo_csv, usecols=colunas_painel, sep=',', low_memory=False)

df.head()

,ID_AGRAVO,NU_ANO,NU_IDADE_N,CS_SEXO,CS_RACA,CS_ESCOL_N,ID_MN_RESI,DT_OBITO
0,A90,2007,4029,M,4.0,2.0,150304.0,NaN
1,A90,2007,4018,F,9.0,9.0,150506.0,NaN
2,A90,2008,4002,M,4.0,10.0,150330.0,NaN
3,A90,2008,4025,F,4.0,6.0,150553.0,NaN
4,X29,2008,4047,M,4.0,9.0,150450.0,NaN

## Funções Auxiliares

In [5]:
# Função para retornar os valores únicos das colunas do df
def valores_unicos(df):
    for coluna in df.columns:
        print(f'{coluna}: {df[coluna].unique()}')
        print()

# valores_unicos(df[colunas_painel])

In [6]:
# Função para verificar a existência de valores nulos nas colunas do df
def verifica_nulos(df):
    for coluna in df.columns:
        print(f'{coluna}: {df[coluna].isnull().sum()}')
        print()

In [7]:
# Função para converter a idade
def converter_idade(idade):
    faixas_etarias = {
        (0, 999): 'IGNORADO',
        (1000, 3999): '00 a 01 ano',
        (4000, 4004): '01 a 04 anos',
        (4005, 4009): '05 a 09 anos',
        (4010, 4014): '10 a 14 anos',
        (4015, 4019): '15 a 19 anos',
        (4020, 4029): '20 a 29 anos',
        (4030, 4039): '30 a 39 anos',
        (4040, 4049): '40 a 49 anos',
        (4050, 4059): '50 a 59 anos',
        (4060, 4069): '60 a 69 anos',
        (4070, 4079): '70 a 79 anos',
        (4080, 4999): 'Mais de 80 anos'
    }

    for (inicio, fim), faixa in faixas_etarias.items():
        if inicio <= idade <= fim:
            return faixa
    return 'IGNORADO'

## Tratamento de valores nulos

In [8]:
verifica_nulos(df[colunas_painel])

ID_AGRAVO: 0

NU_ANO: 0

ID_MN_RESI: 61

CS_SEXO: 0

CS_RACA: 51617

CS_ESCOL_N: 196246

DT_OBITO: 1654827

NU_IDADE_N: 0

In [9]:
# Substituir os valores nulos do df por 9
df = df.fillna(9)

# Verifica se sobrou mais algum valor nulo
verifica_nulos(df[colunas_painel])

ID_AGRAVO: 0

NU_ANO: 0

ID_MN_RESI: 0

CS_SEXO: 0

CS_RACA: 0

CS_ESCOL_N: 0

DT_OBITO: 0

NU_IDADE_N: 0

## Recodicar os valores das colunas
- Usar os dicionários de recodificação para substituir os valores das colunas
- Os valores foram obtidos no dicionário de dados e estão disponíveis na pasta filtros

In [10]:
# Tratando a coluna ID_AGRAVO, substituindo os códigos pelos nomes dos agravos no dicionário AGRAVO
df['ID_AGRAVO'] = df['ID_AGRAVO'].map(agravo.AGRAVO)

# Tratando a coluna CS_SEXO, substituindo os códigos pelos nomes dos sexos no dicionário sexo.SEXO
df['CS_SEXO'] = df['CS_SEXO'].map(sexo.SEXO)

# Tratando a coluna CS_RACA, substituindo os códigos pelos nomes das raças no dicionário raca.RACA
df['CS_RACA'] = df['CS_RACA'].map(raca.RACA)

# Tratando a coluna NU_IDADE_N, aplicando a função converter_idade
df['NU_IDADE_N'] = df['NU_IDADE_N'].apply(converter_idade)

df.head()

,ID_AGRAVO,NU_ANO,NU_IDADE_N,CS_SEXO,CS_RACA,CS_ESCOL_N,ID_MN_RESI,DT_OBITO
0,A90 - DENGUE,2007,20 a 29 anos,Masculino,Parda,2.0,150304.0,9
1,A90 - DENGUE,2007,15 a 19 anos,Feminino,Ignorado,9.0,150506.0,9
2,A90 - DENGUE,2008,01 a 04 anos,Masculino,Parda,10.0,150330.0,9
3,A90 - DENGUE,2008,20 a 29 anos,Feminino,Parda,6.0,150553.0,9
4,X29 - ACIDENTE POR ANIMAIS PECONHENTOS,2008,40 a 49 anos,Masculino,Parda,9.0,150450.0,9

In [11]:
# Convertendo a coluna ID_MN_RESI para inteiro
df['ID_MN_RESI'] = df['ID_MN_RESI'].astype(int)

# Convertendo a coluna CS_ESCOL_N para inteiro
df['CS_ESCOL_N'] = df['CS_ESCOL_N'].astype(int)

# Removendo as / da coluna DT_OBITO
df['DT_OBITO'] = df['DT_OBITO'].str.replace('/', '')

verifica_nulos(df[colunas_painel])

ID_AGRAVO: 227

NU_ANO: 0

ID_MN_RESI: 0

CS_SEXO: 0

CS_RACA: 0

CS_ESCOL_N: 0

DT_OBITO: 1654827

NU_IDADE_N: 0

In [12]:
df_regiao = pd.read_csv('filtros/dim_regiao.csv', sep=';')
df_regiao.head()

,mun_cod,mun_nome,macro_reg_saude,reg_saude,centro_reg_saude,reg_integracao
0,150010,Abaetetuba,Macro I,Tocantins,06 CRS,Tocantins
1,150013,Abel Figueiredo,Macro IV,Carajas,11 CRS,Capim
2,150020,Acara,Macro II,Metropolitana II,02 CRS,Tocantins
3,150030,Afua,Macro I,Marajo I,07 CRS,Marajo
4,150034,Agua Azul do Norte,Macro IV,Araguaia,12 CRS,Araguaia

In [13]:
# Renomear as colunas de código dos municípios para permitir a junção
df.rename(columns={'ID_MN_RESI': 'mun_cod'}, inplace=True)

# Unir os dois dataframes com base na coluna de código dos municípios
df_merged = pd.merge(df, df_regiao, on='mun_cod', how='left')

# Exibir o dataframe unido para o usuário
df_merged.head()

,ID_AGRAVO,NU_ANO,NU_IDADE_N,CS_SEXO,CS_RACA,CS_ESCOL_N,mun_cod,DT_OBITO,mun_nome,macro_reg_saude,reg_saude,centro_reg_saude,reg_integracao
0,A90 - DENGUE,2007,20 a 29 anos,Masculino,Parda,2,150304,NaN,Floresta do Araguaia,Macro IV,Araguaia,12 CRS,Araguaia
1,A90 - DENGUE,2007,15 a 19 anos,Feminino,Ignorado,9,150506,NaN,Novo Repartimento,Macro IV,Lago de Tucurui,11 CRS,Lago de Tucurui
2,A90 - DENGUE,2008,01 a 04 anos,Masculino,Parda,10,150330,NaN,Igarape-Miri,Macro I,Tocantins,06 CRS,Tocantins
3,A90 - DENGUE,2008,20 a 29 anos,Feminino,Parda,6,150553,NaN,Parauapebas,Macro IV,Carajas,11 CRS,Carajas
4,X29 - ACIDENTE POR ANIMAIS PECONHENTOS,2008,40 a 49 anos,Masculino,Parda,9,150450,NaN,Melgaco,Macro I,Marajo II,08 CRS,Marajo

In [14]:
df_merged.isnull().sum()

ID_AGRAVO               227
NU_ANO                    0
NU_IDADE_N                0
CS_SEXO                   0
CS_RACA                   0
CS_ESCOL_N                0
mun_cod                   0
DT_OBITO            1654827
mun_nome               3833
macro_reg_saude        3833
reg_saude              3833
centro_reg_saude       3833
reg_integracao         3833
dtype: int64

In [15]:
df_merged = df_merged.fillna('IGNORADO')

In [16]:
df_merged.rename(columns={
    'mun_cod': 'MUN_COD',
    'mun_nome': 'MUN_NOME',
    'macro_reg_saude': 'MACRO_REG_SAUDE',
    'reg_saude': 'REG_SAUDE',
    'centro_reg_saude': 'CENTRO_REG_SAUDE',
    'reg_integracao': 'REG_INTEGRACAO',
}, inplace=True)

df_merged.head()

,ID_AGRAVO,NU_ANO,NU_IDADE_N,CS_SEXO,CS_RACA,CS_ESCOL_N,MUN_COD,DT_OBITO,MUN_NOME,MACRO_REG_SAUDE,REG_SAUDE,CENTRO_REG_SAUDE,REG_INTEGRACAO
0,A90 - DENGUE,2007,20 a 29 anos,Masculino,Parda,2,150304,IGNORADO,Floresta do Araguaia,Macro IV,Araguaia,12 CRS,Araguaia
1,A90 - DENGUE,2007,15 a 19 anos,Feminino,Ignorado,9,150506,IGNORADO,Novo Repartimento,Macro IV,Lago de Tucurui,11 CRS,Lago de Tucurui
2,A90 - DENGUE,2008,01 a 04 anos,Masculino,Parda,10,150330,IGNORADO,Igarape-Miri,Macro I,Tocantins,06 CRS,Tocantins
3,A90 - DENGUE,2008,20 a 29 anos,Feminino,Parda,6,150553,IGNORADO,Parauapebas,Macro IV,Carajas,11 CRS,Carajas
4,X29 - ACIDENTE POR ANIMAIS PECONHENTOS,2008,40 a 49 anos,Masculino,Parda,9,150450,IGNORADO,Melgaco,Macro I,Marajo II,08 CRS,Marajo

In [17]:
valores_unicos(df_merged)

ID_AGRAVO: ['A90 - DENGUE' 'X29 - ACIDENTE POR ANIMAIS PECONHENTOS'
 'W64 - ATENDIMENTO ANTI-RABICO'
 'B551 - LEISHMANIOSE TEGUMENTAR AMERICANA'
 'N72 - SINDROME DO CORRIMENTO CERVICAL EM MULHERES'
 'A630 - CONDILOMA ACUMINADO (VERRUGAS ANOGENITAIS)'
 'B550 - LEISHMANIOSE VISCERAL' 'B24 - AIDS' 'B19 - HEPATITES VIRAIS'
 'A60 - HERPES GENITAL' 'A53 - SIFILIS EM ADULTO'
 'R17 - SINDROME ICTERICA AGUDA' 'A539 - SIFILIS NAO ESPECIFICADA'
 'Y09 - VIOLENCIA INTERPESSOAL - AUTOPROVOCADA'
 'B09 - DOENCAS EXANTEMATICAS' 'O981 - SIFILIS EM GESTANTE'
 'Y96 - ACIDENTE DE TRABALHO GRAVE' 'A010 - FEBRE TIFOIDE'
 'A379 - COQUELUCHE' 'A959 - FEBRE AMARELA' 'B659 - ESQUISTOSSOMOSE'
 'Z209 - ACIDENTE DE TRABALHO COM EXPOSICAO A MATERIAL BIOLOGICO'
 'A509 - SIFILIS CONGENITA' 'A309 - HANSNENIASE'
 'B571 - DOENCA DE CHAGAS AGUDA' 'G039 - MENINGITE'
 'N485 - SINDROME DA ULCERA GENITAL (EXCLUIDO HERPES GENITAL)'
 'R36 - SINDROME DO CORRIMENTO URETRAL EM HOMEM' 'A279 - LEPTOSPIROSE'
 'B019 - VARICELA SEM COMPLICAÇÕES' 'Y59 - EVENTOS ADVERSOS POS-VACINACAO'
 'A35 - TETANO ACIDENTAL' 'T659 - INTOXICACAO EXOGENA' 'A369 - DIFTERIA'
 'A809 - PARALISIA FLACIDA AGUDA POLIOMIELITE' 'A988 - HANTAVIROSE'
 'A169 - TUBERCULOSE' 'P350 - SINDROME DA RUBEOLA CONGENITA'
 'A080 - ROTAVIRUS' 'A009 - COLERA' 'A928 - DOENCA AGUDA PELO VIRUS ZIKA'
 'F99 - TRANSTORNO MENTAL' 'A33 - TETANO NEONATAL'
 'J07 - SINDROME RESPIRATORIA AGUDA' 'L989 - DERMATOSES OCUPACIONAIS'
 'B26 - CAXUMBA [PAROTIDITE EPIDEMICA]'
 'A779 - FEBRE MACULOSA - RICKETTSIOSES' 'P371 - TOXOPLASMOSE CONGENITA'
 'Z579 - LER DORT' 'B54 - MALARIA'
 'O986 - DOENCAS CAUSADAS POR PROTOZOARIOS COMPLICANDO A GRAVIDEZ, O PARTO E O PUERPERIO'
 'Z206 - CRIANCA EXPOSTA HIV' 'Z21 - GESTANTE HIV'
 'A920 - FEBRE DE CHIKUNGUNYA' 'J189 - PNEUMONIA NAO ESPECIFICADA'
 'A051 - BOTULISMO' 'B58 - TOXOPLASMOSE'
 'A810 - DOENCA DE CREUTZFELDT-JACOB' 'B01 - VARICELA'
 'A938 - OUTRAS FEBRES VIRAIS ESPECIFICADAS TRANSMITIDAS POR ARTROPODES'
 'A23 - BRUCELOSE' 'J11 - INFLUENZA HUMANA POR NOVO SUBTIPO (PANDEMICO)'
 'B749 - FILARIOSE NAO ESPECIFICADA' 'D593 - SINDROME HEMOLITICO-UREMICA'
 'H833 - PAIR - PERDA AUDITIVA INDUZIDA POR RUIDO' 'A692 - DOENCA DE LYME'
 'J64 - PNEUMOCONIOSE' 'IGNORADO' 'A923 - FEBRE DO NILO'
 'A829 - RAIVA HUMANA' 'A219 - TULAREMIA'
 'A969 - FEBRE HEMORRAGICA POR ARENAVIRUS']

NU_ANO: [2007 2008 2010 2013 2009 2017 2012 2002 2019 2001 2011 2006 2004 2003
 2005 2000 2016 2014 1983 2015 2018 2020 2021 1986 2022 1991 2023 2024
 1996 1994 1995 1985]

NU_IDADE_N: ['20 a 29 anos' '15 a 19 anos' '01 a 04 anos' '40 a 49 anos'
 '05 a 09 anos' 'Mais de 80 anos' '50 a 59 anos' '10 a 14 anos'
 '30 a 39 anos' '00 a 01 ano' '70 a 79 anos' '60 a 69 anos' 'IGNORADO']

CS_SEXO: ['Masculino' 'Feminino' 'Ignorado']

CS_RACA: ['Parda' 'Ignorado' 'Branca' 'Preta' 'Indígena' 'Amarela']

CS_ESCOL_N: [ 2  9 10  6  3  4  5  1  0  7  8]

MUN_COD: [150304 150506 150330 150553 150450 150613 150150 150650 150020 150350
 150635 150110 150270 150260 150380 150810 150490 150230 150080 150400
 150760 150660 150240 150060 150520 150320 150555 150360 150600 150120
 150340 150616 150495 150750 150420 150215 150130 150548 150276 150619
 150125 150670 150808 150543 150220 150295 150618 150277 150800 150140
 150050 150630 150390 150805 150565 150530 150470 150820 150747 150840
 150730 150830 150310 150370 150210 150157 150655 150190 150550 150440
 150680 150170 150095 150090 150345 150710 150195 150307 150803 150503
 150580 150040 150375 150797 150510 150780 150085 150590 150795 150100
 150180 210005 150145 150480 150497 150070 150010 150285 150275 130260
 150442 150715 150445 150740 150430 150560 150745 150812 150620 150658
 150570 150775 150770 150815 171610 150280 150611 150690 150700 150720
 150746 210530 150610 150460 150500 150030 150293 150309 150835 150178
 150405 150034 150175 150549 150160 230730 150013 150172 150290 150410
 150250 520110 150640 150790 150563 210120 160027 160080 150796 150300
 130300 160030 210325 170210 250370 150540 210542 530010 211130 330455
 355620 317020 520870 260220 330630 150200 170220 355030 170600 210140
 130340 170950 510025 160010 210980 260410 172120 150000      9 160050
 292740 250190 292350 291080 211153 120005 211110 261040 171650 210515
 130250 140010 290720 211140 230440 210660 210203 210990 210850 210370
 160015 500270 521250 210290 320530 240310 220779 510410 220700 410690
 160060 210280 110020 510320 410200 210637 291550 171665 211240 210870
 210620 311860 150475 210130 521308 240810 312230 110010 171320 210317
 310160 260500 261160 210260 310620 220225 172100 221100 210330 210000
 211000 210596 350920 260290 210927 210860 351880 110028 210060 292400
 210900 130190 430300 500370 510642 250330 510677 432375 210632 292100
 521800 510777 510790 211178 312770 520025 171884 410580 210760 172210
 210197 510335 500570 170100 510860 510340 210232 351300 110002 510792
 220610 510840 510140 354870 251370 231310 520860 510805 210430 411520
 315980 130290 210598 291072 522160 210590 171330 313360 420290 210310
 211400 420540 411580 170390 230370 520910 210455 510788 330240 410337
 270430 220800 210570 410210 170330 520140 170130 230640 210825 211040
 211230 410480 292530 292920 351280 520890 110011 510706 522045 420130
 510510 211070 310740 170900 240210 231020 291955 411370 315150 260040
 211172 353440 171180 521295 330330 220190 320240 210350 520840 352690
 210735 110012 521880 171050 210780 330200 230900 352390 520170 210300
 280290 210320 170190 241410 280450 240800 220580 210055 130353 421780
 260640 310420 291170 171820 351960 510525 230270 210015 292870 170310
 314400 431100 211102 210740 250750 120040 251065 211150 350550 160053
 170740 211285 220025 290570 521973 280030 520500 310670 352840 230550
 170320 170560 521180 170550 354990 210083 211010 261460 210467 210315
 410180 261110 520130 231340 411400 210255 230260 510787 210540 420845
 292800 240200 130014 170930 351550 313630 211200 520510 412550 510624
 430210 320260 130406 313720 510480 314500 170360 314610 421715 510620
 210950 160020 292820 421567 210235 311535 210047 170825 130420 410190
 211176 510626 210480 240325 292720 293330 330045 522140 510267 210193
 230510 261450 210840 330250 170255 420000 260420 420910 431490 510675
 320035 410150 411155 410830 171070 251450 210700 510560 210100 510562
 160040 313820 313130 350160 170290 211003 221037 410400 314085 354340
 412405 210405 290840 171090 350950 291840 290790 291005 313170 352900
 355100 210440 350050 171670 314240 260230 510515 250320 130270 160000
 290520 270240 260610 320500 211220 411190 539918 412810 260345 230690
 210043 210490 310350 292840 354980 210160 220750 310690 251080 170215
 316860 292630 320320 410720 420430 500230 500830 220370 320520 500630
 355500 351340 130356 230765 412625 510305 231360 311110 231240 260105
 220650 210770 260790 220194 240470 210610 170610 250400 140045 210810
 160005 510785 251390 420240 172208 291390 110033 210200 211300 260000
 220350 500315 230280 316990 280420 211270 431405 210750 230320 510760
 521523 352250 210220 317040 351110 230428 351570 316870 170388 313670
 510795 312710 354780 211180 171630 230070 230500 521560 260970 270642
 220120 210550 313020 290620 211250 510080 231230 355410 210400 510250
 260680 211280 510268 110004 251040 210020 314700 210177 355700 280140
 211020 210250 210800 270030 510325 210030 210565 420930 171380 330420
 210360 520030 221040 314320 280350 260990 500710 130360 353870 431330
 421130 421630 352940 293150 211050 210380 355170 210910 130330 421580
 170389 311050 290195 411760 420320 210125 211085 120020 311360 410442
 353540 410460 430490 411095 210420 210545 280690 313760 521150 521760
 260600 250360 120000 130380 110030 420460 350570 260030 330520 315780
 314090 353550 240710 314710 421060 260960 172030 170700 291340 410240
 353070 352760 313570 330070 330490 510180 170650 312015 350030 354850
 421820 170384 230535 172010 230393 421565 420880 510040 521310 350115
 420200 171886 270255 410445 210845 411880 172097 351500 230630 313420
 270010 311830 230410 211227 250590 170030 210270 110155 317010 500520
 350120 330452 261090 421500 352220 260190 130120 521890 420127 510621
 521380 355220 330190 260400 241340 210237 421400 410304 210880 317130
 230430 230130 510610 510622 520880 510030 420230 354880 420545 170105
 431060 172080 314330 231290 171830 330390 260310 521486 421040 291750
 431265 315280]

DT_OBITO: ['IGNORADO' '2007-02-06' '2013-02-03' ... '2024-01-03' '2023-12-29'
 '2023-10-14']

MUN_NOME: ['Floresta do Araguaia' 'Novo Repartimento' 'Igarape-Miri' 'Parauapebas'
 'Melgaco' 'Redencao' 'Benevides' 'Santa Izabel do Para' 'Acara' 'Irituia'
 'Santa Barbara do Para' 'Bagre' 'Conceicao do Araguaia' 'Colares'
 'Jacunda' 'Tucurui' 'Muana' 'Capitao Poco' 'Ananindeua'
 'Limoeiro do Ajuru' 'Sao Miguel do Guama' 'Santa Maria do Para'
 'Castanhal' 'Altamira' 'Oeiras do Para' 'Igarape-Acu' 'Pau DArco'
 'Itaituba' 'Prainha' 'Baiao' 'Inhangapi' 'Rio Maria'
 'Nova Esperanca do Piria' 'Sao Joao do Araguaia' 'Maraba'
 'Canaa dos Carajas' 'Barcarena' 'Pacaja' 'Cumaru do Norte' 'Ruropolis'
 'Bannach' 'Santana do Araguaia' 'Tucuma' 'Ourilandia do Norte' 'Capanema'
 'Eldorado do Carajas' 'Rondon do Para' 'Curionopolis' 'Tome-Acu' 'Belem'
 'Almeirim' 'Salvaterra' 'Juruti' 'Trairao' 'Placas' 'Oriximina' 'Moju'
 'Vigia' 'Sao Joao de Pirabas' 'Xinguara' 'Sao Felix do Xingu' 'Viseu'
 'Gurupa' 'Itupiranga' 'Cameta' 'Bom Jesus do Tocantins'
 'Santa Luzia do Para' 'Bujaru' 'Paragominas' 'Marapanim' 'Santarem'
 'Braganca' 'Aurora do Para' 'Augusto Correa' 'Ipixuna do Para'
 'Sao Caetano de Odivelas' 'Cachoeira do Piria' 'Garrafao do Norte'
 'Tracuateua' 'Novo Progresso' 'Portel' 'Alenquer' 'Jacareacanga'
 'Terra Santa' 'Obidos' 'Senador Jose Porfirio' 'Anapu' 'Porto de Moz'
 'Tailandia' 'Aveiro' 'Breves' 'IGNORADO' 'Belterra' 'Monte Alegre'
 'Nova Ipixuna' 'Anajas' 'Abaetetuba' 'Curua' 'Concordia do Para'
 'Marituba' 'Sao Domingos do Araguaia' 'Medicilandia'
 'Sao Francisco do Para' 'Maracana' 'Peixe-Boi' 'Sao Geraldo do Araguaia'
 'Ulianopolis' 'Salinopolis' 'Santa Maria das Barreiras' 'Ponta de Pedras'
 'Sapucaia' 'Sao Sebastiao da Boa Vista' 'Uruara' 'Curralinho' 'Quatipuru'
 'Santarem Novo' 'Santo Antonio do Taua' 'Sao Domingos do Capim'
 'Sao Joao da Ponta' 'Primavera' 'Mocajuba' 'Nova Timboteua' 'Afua'
 'Dom Eliseu' 'Goianesia do Para' 'Vitoria do Xingu' 'Breu Branco'
 'Mae do Rio' 'Agua Azul do Norte' 'Brejo Grande do Araguaia'
 'Palestina do Para' 'Bonito' 'Abel Figueiredo' 'Brasil Novo' 'Curuca'
 'Magalhaes Barata' 'Chaves' 'Santa Cruz do Arari' 'Soure' 'Picarra'
 'Terra Alta' 'Faro' 'Ourem' 'Cachoeira do Arari' 'Mojui dos Campos']

MACRO_REG_SAUDE: ['Macro IV' 'Macro I' 'Macro II' 'Macro III' 'IGNORADO']

REG_SAUDE: ['Araguaia' 'Lago de Tucurui' 'Tocantins' 'Carajas' 'Marajo II'
 'Metropolitana I' 'Metropolitana II' 'Metropolitana III' 'Marajo I'
 'Xingu' 'Tapajos' 'Baixo Amazonas' 'Rio Caetes' 'IGNORADO']

CENTRO_REG_SAUDE: ['12 CRS' '11 CRS' '06 CRS' '08 CRS' '01 CRS' '02 CRS' '05 CRS' '07 CRS'
 '13 CRS' '03 CRS' '10 CRS' '09 CRS' '04 CRS' 'IGNORADO']

REG_INTEGRACAO: ['Araguaia' 'Lago de Tucurui' 'Tocantins' 'Carajas' 'Marajo'
 'Metropolitana' 'Guama' 'Capim' 'Xingu' 'Tapajos' 'Baixo Amazonas'
 'Caetes' 'IGNORADO']

In [18]:
# Salvando o arquivo tratado
#df_merged.to_csv('painel.csv', index=False)

df_merged.to_parquet('painel.parquet', index=False)